
/*=====    font   =====
======================== */
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@700&display=swap');

@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@500&display=swap');

/* common styles 
--------------------*/

.heading,.match-text h2{
    font-family: 'Poppins', sans-serif;
}
body{
    font-family: 'Roboto', sans-serif;
}
.text-color{
    color: #6C6C6C;
    line-height: 1.5em;
  
}

/* ===============================
     top ariya styles
============================= */
.top-section{
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #10437A;
    height: 650px;
    width: 1333px;
}
.heading{
    font-size: 50px;
    margin-left:10%;
    color: #fff;
}
 .button{
    text-decoration: none;
    background-color: #E02C6D;
    font-size: 15px;
    color: #fff;
    padding: 10px 20px ;
    font-weight: 300px;
}
.top-section .banner img{
    height: 440px;
    width: 560px;
    margin-right: 50px;
}


/*===================================
          players aria
================================*/

.all-players{
    display: flex;
    justify-content: center;
    margin-top: 70px;
   
}
.players{
 
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-row-gap: 25px;
   
}
.player{
    height: 450px;
    width: 300px;
    box-shadow: 10px 10px 30px rgba(0, 0, 0, 0.15);
    margin: 0 15px;
    padding: 15px;   
}

.player img{
  height: 250px;
  width: 300px;
}

/*==================================
          match aria
============================ */

.match{
    display: flex;
    margin: 160px 110px;
}
.match-text{
    width: 50%;
    margin-right: 10px;
}
.match-text h2{
   font-size: 50px;
}
.match-text p{
 
    margin-right: 110px;
}
.match-thamnail{
    width: 50%;
    
}
.match .match-thamnail img{
    Width :567px;
    Height :427px;

}

/*==================================
          footer aria
=========================== */

footer{
    display: flex;
    justify-content: center;
}
.footer-aria{
    width: 480px;
    height: 220;
}
.footer-logo img{
    width: 480px;
    height: 110px;
}
.sosial-icon{
    font-size: 30px;
    text-align: center;
    letter-spacing: 10px;
    margin-top: 10px;
    margin-bottom: 20px;
}
.footer-text{
    text-align: center;
    font-size: 20px;

}



/*=====================================
         media quarys
=====================================*/

/* mobile device
------------------ */
@media only screen and (max-width:688px) {
    .top-section{
        width: 100%;
        height: 100%;
    flex-direction: column;
    
    }
    .top-section .banner img{
        width: 300px;
        height: 270px;
        margin-left: 5%;
        margin-top: 10%;
    }
.top-section .heading{
    font-size: 30px ;
}
.players{
    width: 100%;
grid-template-columns: repeat(1, 1fr);
}
.match{
    flex-direction: column;
    margin: 0;
}
.match .match-text h2{
    font-size: 20px;
   
}
.match .match-text p{
    margin-right: 0;
}
.match .match-thamnail img{
    width: 367px;
    height: 377px;
    margin-top: 50px;
    margin-bottom: 50px;
}
.footer-logo img{
    width: 350px;

}

}